
*{
    margin: 0;
    padding: 0;
}
html{
    height: 100%;
}
body{
    margin: 0 auto;
    width: 960px;
    height: 100%;


}
.tr{
    border-bottom: 1px solid rgba(255, 33, 42, 0.66);
    border-top: 1px solid rgba(255, 33, 42, 0.66);
    height: 40px;

}
.tr td{
    width: 130px;
    text-align: center;
}
#content table{
    border-collapse:collapse;


}
#content {
    margin: 0 auto;
    width: 910px;
    margin-top: 30px;
}


